@charset "UTF-8";
@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Signika:300,700");

/* Style for the entire document */
body {
    font-family: "Signika", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    background-color: #020f1b;
}

/* Header style (banner across the top) */
header {
    background-color: #041625;
    width: 100%;
    padding: 20px;
    text-align: center;
    /* position: fixed; */
    top: 0;
    left: 0;
    z-index: 100;
}

header h1 a {
    color: #fff;
    text-decoration: none;
    font-size: 42px;
}

/* Main content style */
main {
    margin-top: 10px;
    /* To offset the fixed header */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* Section content centering */
section {
    max-width: 800px;
    width: 100%;
    padding: 20px;
    background-color: #020f1b;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Headings style */
/* Headings style */
h2 {
    margin-top: 30px;
    font-size: 35px;
    color: #fff;
}

h3 {
    margin-top: 50px;
    font-size: 30px;
    color: #fff;
}

/* Table styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

/* Add spacing between rows */
tr {
    margin-bottom: 10px;
}

/* Link button styling */
a.button {
    display: block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 5px;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    transition: background-color 0.3s ease;
}

a.button:hover {
    background-color: #0056b3;
}