<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Deck Tiering: Ranking decks for various card games."
    />

    <title>Deck Tiering</title>

    <!-- Style. -->
    <link
      href="../static/css/style.css"
      th:href="@{/css/main.css}"
      rel="stylesheet"
    />
  </head>

  <body>
    <!-- Header (the small one in the top lefthand corner). -->
    <header>
      <h1><a href="#main" th:href="@{/}">Deck Tiering</a></h1>
    </header>

    <main>
      <section>
        <!-- Deck name. -->
          <h2 th:text="${title}">Title</h2>
          <h3>
            <a href="#" th:href="@{/deck/history/{deckId}(deckId=${deckId})}"
              >Rating History</a
            >
          </h3>

        <!-- Main deck. -->
        <ol th:if="!${gameCheck}">
          <div>
            <h3>Main Deck</h3>
            <table class="table table-striped">
              <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Amount</th>
              </tr>
              <tr th:each="card : ${mainDeck}">
                <td th:text="${card.name}">Name</td>
                <td th:text="${card.cardType}">Type</td>
                <td th:text="${card.numberOf}">Amount</td>
              </tr>
            </table>
          </div>
        </ol>

        <!-- Main deck. -->
        <ol th:if="${gameCheck}">
          <div>
            <h3>Main Deck</h3>
            <table class="table table-striped">
              <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Amount</th>
              </tr>
              <tr th:each="card : ${mainDeck}">
                <td th:text="${card.name}">Name</td>
                <td th:text="${card.cardType}">Type</td>
                <td th:text="${card.numberOf}">Amount</td>
              </tr>
            </table>
          </div>

          <!-- Extra deck. -->
          <div>
            <h3>Extra Deck</h3>
            <table class="table table-striped">
              <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Amount</th>
              </tr>
              <tr th:each="card : ${extraDeck}">
                <td th:text="${card.name}">Name</td>
                <td th:text="${card.cardType}">Type</td>
                <td th:text="${card.numberOf}">Amount</td>
              </tr>
            </table>
          </div>

          <!-- Side deck. -->
          <div>
            <h3>Side Deck</h3>
            <table class="table table-striped">
              <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Amount</th>
              </tr>
              <tr th:each="card : ${sideDeck}">
                <td th:text="${card.name}">Name</td>
                <td th:text="${card.cardType}">Type</td>
                <td th:text="${card.numberOf}">Amount</td>
              </tr>
            </table>
          </div>
        </ol>
      </section>
    </main>

    <footer>
      <p>&copy; 2021 Deck Tiering. All rights reserved.</p>
    </footer>
  </body>
</html>
