<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Deck Tiering: Ranking decks for various card games."
    />

    <title>Deck Tiering</title>

    <!-- Style. -->
    <link
      href="../static/css/main.css"
      th:href="@{/css/main.css}"
      rel="stylesheet"
    />

    <script
      type="text/javascript"
      src="https://www.gstatic.com/charts/loader.js"
    ></script>
  </head>

  <body>
    <!-- Header (the small one in the top lefthand corner). -->
    <header id="header">
      <h1><a href="#main" th:href="@{/}">Deck Tiering</a></h1>
    </header>

    <main>
      <section id="banner" style="overflow: auto">
        <div class="inner">
          <!-- Deck name. -->
          <header style="padding-top: 5px">
            <h1 th:text="${title}">Decks</h1>
            <h2 th:text="${currentRating}">Current Rating</h2>
            <h4>
              <a
                href="#"
                th:href="@{/decks/{deckid}(deckid=${deckId})/decklist/{cardlist}(cardlist=${cardList})}"
                >Card List</a
              >
            </h4>
          </header>

          <!-- Graph. -->
          <div id="chart_div" style="height: 200px"></div>

          <!-- Deck history table. -->
          <div style="padding-top: 10px">
            <div
              style="width: 1200px; height: 300px; overflow: auto; float: left"
            >
              <table class="table table-striped">
                <tr>
                  <th>Result</th>
                  <th>Rating</th>
                  <th>Tier</th>
                </tr>
                <tr th:each="deck : ${deckHistory}">
                  <td th:text="${deck.historyOutcome}">Outcome</td>
                  <!--      click into for history              -->
                  <td th:text="${deck.rating}">Rating</td>
                  <!--      click into for history              -->
                  <td th:text="${deck.tier}">Tier</td>
                  <!--       click into for other of this tier             -->
                </tr>
              </table>
            </div>
          </div>

          <!-- Script for the graph. -->
          <script th:inline="javascript">
            google.charts.load("current", { packages: ["corechart"] });
            google.charts.setOnLoadCallback(drawChart);

            function drawChart() {
              var data = new google.visualization.DataTable();
              data.addColumn("number", "Games");
              data.addColumn("number", "Rating");

              // Correctly inject Thymeleaf variable as JS array
              data.addRows(/*[[${chartData}]]*/);

              var options = {
                width: 1200,
                height: 200,
              };

              var chart = new google.visualization.LineChart(
                document.getElementById("chart_div")
              );
              chart.draw(data, options);
            }
          </script>
        </div>
      </section>
    </main>
  </body>
</html>
