<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <head>
        <title>Deck Tiering</title>    <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
    </head>
<body>

<header id ="header">
    <h1>Deck Tiering</h1>
</header>

<section id="banner">
    <div class="inner">
        <header>
            <h1 th:text="${title}">Index</h1>
        </header>
            <a href="#main" class="button big alt scrolly" th:href="@{/decks/game/Pokemon}">Pokemon</a>
            <a href="#main" class="button big alt scrolly" th:href="@{/decks/game/Yu-Gi-Oh}">Yu-Gi-Oh</a>
            <a href="#main" class="button big alt scrolly" th:href="@{/decks/game/Commander}">Commander</a>
        </div>
    </div>
</section>
</body>
</html>