<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

  <head>
    <title>Deck Tiering</title>    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
  </head>
<body>

<header id ="header">
  <h1><a href="#main"  th:href="@{/}">Deck Tiering</a></h1>
</header>


<section id="banner" style="margin-top:48px">
  <div class="inner">
    <header>
      <h1 th:text="${title}">Index</h1>
    </header>

    not yet coded
<!--    <form action="#" th:action="@{/decks/add}" th:object="${String}" method="post">
      <input type="text" th:field="*{deckName}" />
      <input type="text" th:field="*{ownerName}" />
      <select class="form-control" id="gameName" name="gameName">
        <option value="">Game</option>
        <option th:each="game : ${gameList}"
                th:value="${game}"
                th:text="${game}"></option>
      </select>
    <p><input type="submit" value="Submit" />-->
    </form>
  </div>
</section>
</body>
</html>